.app__user{
    margin: 50px;
    font-family: var(--font-alt);
}

.app__user-greeting{
    width: 100%;
    height: 90px;
}

.app__user-greeting p{
    font-size:  2rem;
    font-weight: bold;
}

.app__subsection{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app__user-checkpoint a{
    font-size: 15px;
    font-weight: bold;
    border: 2px solid var(--color-purple);
    border-radius: 5px;
    padding: 5px 10px;
    color: #4B0082;
}



