.main-container .main-div {
    /* height: 80vh; */
    margin: 1rem 1rem;
}

.main-div #typography-1 {
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 2rem;
}

.main-div .div-1 {
    width: 100%;
    height: 80px;
    margin: 1rem 1rem 0 1rem;
    display: flex;
    justify-content: start;
    align-items: center;
    /* background-color: aquamarine; */
}

.div-1 #typography-2 {
    margin-right: 20px;
    font-weight: 600;
    font-family: 'Poppins';
    font-size: 1.12rem;
}

.div-1 #button-1 {
    border: 1px solid #8a2be2;
    border-radius: .5em;
    justify-content: end;
    box-shadow: 03px 3px 8px #8a2be2;
    background-color: #8a2be2;
}

.div-1 #typography-3 {
    text-transform: none;
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding: 2px 5px;
}

.grid-1 {
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
}

.grid-1 #button-1 {
    border: 1px solid purple;
    display: flex;
    justify-content: left;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 8px,
        rgba(0, 0, 0, 0.23) 0px 3px 8px;
}

.grid-1 #button-1:hover {
    background-color: white;
}

.grid-1 #box-1 {
    padding: 2rem;
}

.grid-1 #typography-1 {
    font-family: 'Poppins';
    font-size: 1.5rem;
    font-weight: 600;
    color: black;
    text-transform: capitalize;
}

.grid-1 #paper-1 {
    width: 50px;
    height: 2px;
    margin: 20px 0px;
    background-color: purple;
}

.grid-1 #typography-2 {
    font-size: 13px;
    font-family: 'Poppins';
    text-transform: capitalize;
    color: #36454f;
    font-weight: 600;
}